@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #041C32;
    --secondary-color: #04293A;
    --third-color: #064663;
    --white-color: #efefef;
}

.surah-container {
    padding-top: 60px;
}

.surah-wrapper.col {
    margin-top: 25px;
    border: 1px solid var(--primary-color);
    padding: 30px 16px 25px 16px;
}

.surah-number {
    padding: 6px 12px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: .75rem;
    margin-right: 10px;
}

.surah-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.surah-title span.surah-title-arabic {
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;
}

.surah-arti {
    font-family: 'Poppins', sans-serif;
    padding-top: 12px;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.surah-revelation {
    font-family: 'Poppins', sans-serif;
}

.btn-read-surah {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.btn-read-tafsir {
    font-family: 'Poppins', sans-serif;
    background-color: var(--third-color) !important;
    color: var(--white-color) !important;
    margin-left: 5px;
}